extdata/
.DS_Store
.Rhistory
.Rapp.history
plots/*.pdf
plots/*.png
plots/*.eps
plots/*.jpeg
02_training/Exec/
02_training/results/
02_training/results/first-experiment
02_training/results/second-experiment
02_training/results/third-experiment
02_training/results/fourth-experiment
02_training/outs/
02_training/toRun/
02_training/toRun/basal/
02_training/toRun/exact_visits/
01_preprocess_data/data/
01_preprocess_data/data/MetaA
01_preprocess_data/data/feature_selection
01_preprocess_data/plots/
00_exploratory_analysis/plots